<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nomad">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nomad"
        tools:targetApi="31">
        <activity
            android:name=".RegistrationActivity"
            android:exported="true"
            android:label="Registration"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".ScoreSheetActivity"
            android:exported="false"
            android:label="SCORE SHEET"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SuppliersActivity"
            android:exported="false"
            android:label="SUPPLIERS"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ManufacturerActivity"
            android:exported="false"
            android:label="MANUFACTURER"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EqClassificationActivity2"
            android:exported="false"
            android:label="EQ CLASSIFICATION"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EquipmentActivity"
            android:exported="false"
            android:label="EQUIPMENT"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AuthoritiesActivity"
            android:exported="false"
            android:label="AUTHORITIES"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SectionsActivity"
            android:exported="false"
            android:label="SECTIONS"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DepartmentsActivity"
            android:exported="false"
            android:label="DEPARTMENTS"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FacilitiesActivity"
            android:exported="false"
            android:label="FACILITIES"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SubCountriesActivity"
            android:exported="false"
            android:label="SUB-COUNTRIES"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DistrictActivity"
            android:exported="false"
            android:label="DISTRICT"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CountriesActivity"
            android:exported="false"
            android:label="COUNTRIES"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MaintenanceRequestsActivity"
            android:exported="false"
            android:label="MAINTENANCE REQUESTS"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NeedReplacementActivity"
            android:exported="false"
            android:label="NEED REPLACEMENT"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NeedRepairActivity"
            android:exported="false"
            android:label="NEED REPAIR"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InGoodConditionActivity"
            android:exported="false"
            android:label="IN GOOD CONDITION"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JobCardsActivity"
            android:exported="false"
            android:label="JOB CARDS"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TotalInventoryActivity"
            android:exported="false"
            android:label="TOTAL INVENTORY"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NavigationMenuActivity"
            android:exported="true"
            android:theme="@style/Theme.Nomad.NoActionBar">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Nomad.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Nomad.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>